<h1>Editing invoice</h1>

<% form_for(@invoice) do |f| %>
  <%= f.error_messages %>

  <p>
    Job: <%= @invoice.job.name %>
  </p>
  <p>
    <%= f.label :invoice_number %> <%= f.text_field :invoice_number %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'To Invoice', @invoice %>
