<h1>Editing invoice</h1>

<% form_for(@invoice) do |f| %>
  <%= f.error_messages %>

  <p>
    Job: <%= @invoice.job.name %>
  </p>
  <p>
    Invoice Number: <%= @invoice.invoice_number %>
  </p>
  <p>
    Invoice Status: <%= @invoice.status %>
    <%= f.hidden_field :status %>
  </p>
  <p>
    <%= f.label :due_date %><br />
    <%= f.date_select :due_date %>
  </p>
  <p>
    <%= f.submit "Invoice" %>
  </p>
<% end %>

<%= link_to 'To Invoice', @invoice %>
