<h1>New invoice</h1>

<% form_for(@invoice) do |f| %>
  <%= f.error_messages %>

  <p>
    <%=   f.label :job_id %>
    <%- if @invoice.job.nil? -%>
    <%=  f.select :job_id, @jobs_array %>
    <%- else -%>
    <%=h  @invoice.job.name %>
	  <%=   f.hidden_field :job_id %>
    <%- end -%>
  </p>
  <p>
    <%= f.label :invoice_number %>
    <%=h @invoice.invoice_number %>
	  <%= f.hidden_field :invoice_number%>
  </p>
  <p>
    <%= f.label :status %>
    <%=h @invoice.status %>
	  <%= f.hidden_field :status%>
  </p>
  <p>
    <%= f.submit "Confirm Invoice Creation" %>
  </p>
<% end %>

<%- if !@invoice.job.nil? -%>
<%=   link_to 'To Job', @invoice.job %>
<%- else -%>
<%=   link_to 'To Invoices', invoices_path %>
<%- end -%>
