  <div id="invoice_summery">
    <strong> Job: </strong>
    <%=h @invoice.job.name %>
    <br />
    <strong> Status: </strong>
    <%=h @invoice.current_status %>
    <br />
    <strong> Date Due: </strong>
    <%- unless @invoice.due_date.nil? -%>
    <%=h @invoice.due_date.strftime("%A, %B %d, %Y")%>
    <br />
    <%=  link_to "Printable Invoice", :controller => :print, :action => :invoice, :id => @invoice.id %>
    <%- else -%>
    -
    <%- end -%>
  </div>
  <div id="invoice_payment_summery">
    <strong> Total Invoice Items: </strong>
    <%=h format_to_dollars @invoice.invoice_item_total %>
    <br />
    <strong> Total Payments: </strong>
    <%=h format_to_dollars @invoice.payment_total %>
    <br />
    <strong> Due: </strong>
    <%=h format_to_dollars @invoice.invoice_total %>
  </div>
  <div id="invoice_action_list">
    <strong> Invoice Actions </strong>
    <br />
    <%= render_invoice_action_buttons @invoice %>
  </div>

<h3>Items: <%= @invoice.invoice_items.length %></h3>
<%- if @invoice.invoice_items.length > 0 -%>
<table>
  <tr>
    <th></th>
    <th>Description</th>
    <th>Type</th>
    <th>Rate</th>
    <th></th>
    <th>Quan</th>
    <th>Amount</th>
  </tr>

<% for invoice_item in @invoice.invoice_items %>
  <tr>
    <td></td>
    <td><%= link_to truncate( invoice_item.description, 20), invoice_item %></td>
    <td><%=h invoice_item.item_type %></td>
    <td class="dollar"><%=h format_to_dollars(invoice_item.rate) if invoice_item.amount.nil?%></td>
    <td><%= "X" if invoice_item.amount.nil? %></td>
    <td class="dollar"><%= invoice_item.quantity.to_s if invoice_item.amount.nil? %></td>
    <td class="dollar"><%=h format_to_dollars invoice_item.total %></td>
    <td><%= link_to 'X',
              invoice_item,
              :confirm => "Deleteing invoice #{invoice_item.invoice.invoice_number}/nAre you sure?",
              :method => :delete if invoice_item.can_delete?
    %></td>
  </tr>
<% end %>
  <tr>
    <th>Subtotal</th>
    <td class="dollar" colspan="6"> <%=h format_to_dollars @invoice.invoice_item_total %></td>
  </tr>
</table>
<%- end -%>

<br />
<%= link_to 'New Item', new_invoice_item_path + "/" + @invoice.id.to_s %>

<h3>Payments Made: <%= @payments.length%></h3>

<%- if @payments.length > 0 -%>
<table>
  <tr>
    <th></th>
    <th>Check</th>
    <th>Employee</th>
    <th>Amount</th>
    <th>Notes</th>
  </tr>
  <%- @payments.each do |payment_type, payments| -%>
  <tr> <th><%= payment_type.titleize%></th> </tr>

    <%- payments.each do |payment| -%>
  <tr>
    <td></td>
    <td><%= link_to payment.check, payment %></td>
    <td><%=h payment.employee_name %></td>
    <td class="dollar"><%=h format_to_dollars payment.amount %></td>
    <td><%=h truncate( payment.notes, 15, "...") %></td>
    <td><%= link_to 'X', payment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
    <%- end -%>
  <tr> <td></td> </tr>
  <%- end -%>
  <tr> <td><br/></td> </tr>
  <tr>
    <th>Subtotal</th>
    <td colspan="3" class="dollar"> <%= format_to_dollars @invoice.payment_total  %></td>
  </tr>
</table>
<%- end -%>

<%= link_to 'New Payment', new_payment_path + "/" + @invoice.id.to_s %>
<br />
<br />
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'To Job', @invoice.job %>
