  <p>
    <strong> Job: </strong>
    <%=h @invoice.job.name %>
    <br />
    <strong> Status: </strong>
    <%=h @invoice.current_status %>
    <br />
    <strong> Date Due: </strong>
    <%=h @invoice.due_date.strftime("%A, %B %d, %Y") rescue "-" %>
    <br />
    <strong> Total Invoice Items: $</strong>
    <%=h @invoice.invoice_item_total %>
    <br />
    <strong> Total Payments: $</strong>
    <%=h @invoice.payment_total %>
    <br />
    <strong> Due: $</strong>
    <%=h @invoice.invoice_total %>
    <br />
  </p>
<h3>Items: <%= @invoice.invoice_items.length %></h3>

<table>
  <tr>
    <th>Description</th>
    <th>Type</th>
    <th>Amount</th>
  </tr>

<% for invoice_item in @invoice.invoice_items %>
  <tr>
    <td><%= link_to truncate( invoice_item.description, 20, "..." ), invoice_item %></td>
    <td><%=h invoice_item.item_type %></td>
    <td><%=h "$" + invoice_item.total.to_s %></td>
    <td><%= link_to 'X', invoice_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="2">Subtotal</td>
    <td> $<%= @invoice.invoice_item_total %></td>
  </tr>
</table>

<br />
<%= link_to 'New Item', new_invoice_item_path + "/" + @invoice.id.to_s %>

<h3>Payments Made: <%= @invoice.payments.length%></h3>

<table>
  <tr>
    <th></th>
    <th>Check Number</th>
    <th>Employee</th>
    <th>Amount</th>
    <th>Notes</th>
  </tr>

  <tr> <th>Check</th> </tr>

<% for payment in @invoice.payments.select{ |p| p.payment_type == "check" } %>
  <tr>
    <td></td>
    <td><%= link_to payment.check, payment %></td>
    <td><%=h payment.employee_name %></td>
    <td><%=h payment.amount %></td>
    <td><%=h truncate( payment.notes, 15, "...") %></td>
    <td><%= link_to 'X', payment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr> <td></td> </tr>
  <tr> <th>Credit</th> </tr>
<% for payment in @invoice.payments.select{ |p| p.payment_type == "credit" } %>
  <tr>
    <td></td>
    <td><%= link_to payment.check, payment %></td>
    <td><%=h payment.employee_name %></td>
    <td><%=h payment.amount %></td>
    <td><%=h truncate( payment.notes, 15, "...") %></td>
    <td><%= link_to 'X', payment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr> <td><br/></td> </tr>
  <tr>
    <th>Subtotal</th>
    <td colspan="2"></td>
    <td> $<%= @invoice.payment_total  %></td>
  </tr>
</table>

<%= link_to 'New Payment', new_payment_path + "/" + @invoice.id.to_s %>
<br />
<br />
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'To Job', @invoice.job %>
