<p>
  <b>Invoice number:</b>
  <%=h @invoice.invoice_number %>
  <br />
  <b>Job:</b>
  <%=h @invoice.job.name %>
</p>

<p>
  <b>Status:</b>
  <%=h @invoice.status %>
  <br />
  <b>Total Due:</b>
  $<%= @invoice.invoice_total %>
  <br />
  <%- if( @invoice.type != "Open" ) -%>
  <b>Due date:</b>
  <%=h @invoice.due_date %>
  <%- end -%>
</p>

<p>
</p>


<h3><%= @invoice.invoice_items.length %> Items</h3>
<%= link_to 'New Item', new_invoice_item_path + "/" + @invoice.id.to_s %>

<table>
  <tr>
    <th>Description</th>
    <th>Type</th>
    <th>Amount</th>
  </tr>

<% for invoice_item in @invoice.invoice_items %>
  <tr>
    <td><%= link_to invoice_item.description, invoice_item %></td>
    <td><%=h invoice_item.item_type %></td>
    <td><%=h "$" + invoice_item.total.to_s %></td>
    <td><%= link_to 'X', invoice_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="2">Subtotal</td>
    <td> $<%= @invoice.invoice_item_total %></td>
  </tr>
</table>

<br />
<br />

<h3><%= @invoice.payments.length%> Payments</h3>
<%= link_to 'New Payment', new_payment_path + "/" + @invoice.id.to_s %>

<table>
  <tr>
    <th>View</th>
    <th>Payment</th>
    <th>Check</th>
    <th>Amount</th>
    <th>Employee</th>
    <th>Notes</th>
  </tr>

<% for payment in @invoice.payments %>
  <tr>
    <td><%= link_to "Payment #{payment.id}", payment %></td>
    <td><%=h payment.payment_type %></td>
    <td><%=h payment.check %></td>
    <td><%=h payment.amount %></td>
    <td><%=h payment.employee_name %></td>
    <td><%=h payment.notes %></td>
    <td><%= link_to 'X', payment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
  <tr>
    <td colspan="3">Subtotal</td>
    <td> $<%= @invoice.payment_total  %></td>
  </tr>
</table>

<br />

<br />
<%= link_to 'Edit', edit_invoice_path(@invoice) %> |
<%= link_to 'Back', @invoice.job %>
