<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Client</th>
    <th>Address</th>
  </tr>

<% for job in @jobs %>
  <tr>
    <td><%=h job.name %></td>
    <td><%=h job.client %></td>
    <td><%=h job.address %></td>
    <td><%= link_to 'Show', job %></td>
    <td><%= link_to 'Edit', edit_job_path(job) %></td>
    <td><%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New job', new_job_path %>
