<h1>New job</h1>

<% form_for(@job) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :client %><br />
    <%= f.text_field :client %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
    <br />
    <%= f.label :city %><br />
    <%= f.text_field :city %>
    <br />
    <%= f.label :state %><br />
    <%= f.text_field :state %>
    <br />
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'To Jobs', jobs_path %>
