<h1>Listing Invoice Items</h1>

<table>
  <tr>
    <th>Invoice</th>
    <th>Description</th>
    <th>Item type</th>
    <th>Rate</th>
    <th>Quanity</th>
    <th>Amount</th>
    <th>Total</th>
  </tr>

<% for invoice_item in @invoice_items %>
  <tr>
    <td class="dollar"><%= link_to invoice_item.invoice.invoice_number, invoice_item.invoice %></td>
    <td><%= link_to truncate(invoice_item.description, 15), invoice_item %></td>
    <td><%=h invoice_item.item_type %></td>
    <td class="dollar"><%=h format_to_dollars invoice_item.rate if !invoice_item.rate.nil?%></td>
    <td class="dollar"><%=h invoice_item.quantity if !invoice_item.quantity.nil? %></td>
    <td class="dollar"><%=h format_to_dollars invoice_item.amount if !invoice_item.amount.nil?%></td>
    <td class="dollar"><%=h format_to_dollars invoice_item.total %></td>
    <td><%= link_to 'X',
              invoice_item,
              :confirm => "Deleting Invoice Item.\nAre you sure?",
              :method => :delete if invoice_item.can_delete?
    %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New invoice_item', new_invoice_item_path %>
