<p>
  <strong>Invoice:</strong>
  <%= link_to @invoice_item.invoice.invoice_number, @invoice_item.invoice %>
  <br />
</p>
<p>
  <strong>Item type:</strong>
  <%=h @invoice_item.item_type %>
  <br />
  <strong>Description</strong>
  <br />
  <%=h @invoice_item.description %>
</p>
<p>
  <%- if !@invoice_item.amount.nil? -%>
  <strong>Amount:</strong>
  <%=h format_to_dollars @invoice_item.amount %>
  <%- else -%>
  <strong>Rate:</strong>
  <%=h format_to_dollars @invoice_item.rate %>
  <br />
  <strong>Quanity:</strong>
  <%=h format_to_dollars @invoice_item.quantity %>
  <br />
  <strong>Total:</strong>
  <%=h format_to_dollars @invoice_item.total %>
  <%- end -%>
</p>

<%= link_to 'Edit', edit_invoice_item_path(@invoice_item) %> |
<%= link_to 'To Invoice', @invoice_item.invoice %>
