<p>
  <strong>Invoice:</strong>
  <%= link_to @invoice_item.invoice.invoice_number, @invoice_item.invoice %>
  <br />
  <strong>Item type:</strong>
  <%=h @invoice_item.item_type %>
  <br />
  <strong>Rate:</strong>
  <%=h @invoice_item.rate %>
  <br />
  <strong>Quanity:</strong>
  <%=h @invoice_item.quantity %>
  <br />
  <strong>Amount:</strong>
  <%=h @invoice_item.amount %>
</p>

<p>
  <strong>Total:</strong>
  <%=h @invoice_item.total %>
</p>

<p>
  <strong>Description:</strong>
  <%=h @invoice_item.description %>
</p>


<%= link_to 'Edit', edit_invoice_item_path(@invoice_item) %> |
<%= link_to 'To Invoice', @invoice_item.invoice %>
