<h1>Listing Payments</h1>

<table>
  <tr>
    <th>Invoice</th>
    <th>Payment</th>
    <th>Check</th>
    <th>Amount</th>
    <th>Employee name</th>
    <th>Notes</th>
  </tr>

<% for payment in @payments %>
  <tr>
    <td class="dollar"><%= link_to payment.invoice.invoice_number, payment.invoice %></td>
    <td><%= link_to payment.payment_type.titleize, payment %></td>
    <td class="dollar"><%=h payment.check %></td>
    <td class="dollar"><%=h format_to_dollars payment.amount %></td>
    <td><%=h payment.employee_name %></td>
    <td><%=h truncate(payment.notes, 15, "...")%></td>
    <td><%= link_to 'X', payment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New payment', new_payment_path %>
