<p>
  <b>Invoice:</b>
  <%=h @payment.invoice_id %>
</p>

<p>
  <b>Payment type:</b>
  <%=h @payment.payment_type %>
</p>

<p>
  <b>Check:</b>
  <%=h @payment.check %>
</p>

<p>
  <b>Amount:</b>
  <%=h @payment.amount %>
</p>

<p>
  <b>Employee name:</b>
  <%=h @payment.employee_name %>
</p>

<p>
  <b>Notes:</b>
  <%=h @payment.notes %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
