<p>
  <strong>Invoice:</strong>
  <%= link_to @payment.invoice.invoice_number, @payment.invoice %>
  <br />
  <strong>Payment type:</strong>
  <%=h @payment.payment_type %>
  <br />
  <strong>Check:</strong>
  <%=h @payment.check %>
  <br />
  <strong>Amount:</strong>
  <%=h @payment.amount %>
  <br />
  <strong>Employee name:</strong>
  <%=h @payment.employee_name %>
</p>

<p>
  <strong>Notes:</strong>
  <%=h @payment.notes %>
</p>


<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'To Invoice', @payment.invoice %>
