
  <div id="menu">
    <ul id="nav">
      <li class="<%= activelink == "Jobs" ? "activelink" : "" %>"> <%= link_to "Jobs", jobs_path %> </li>
      <li class="<%= activelink == "Invoices" ? "activelink" : "" %>"> <%= link_to "Invoices", invoices_path %> </li>
      <li class="<%= activelink == "Items" ? "activelink" : "" %>"> <%= link_to "Items", invoice_items_path %> </li>
      <li class="<%= activelink == "Payments" ? "activelink" : "" %>"> <%= link_to "Payments", payments_path %> </li>
    </ul>
  </div>
