<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>InvoiceItems: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>

<div id="header">

  <%- if !@invoice_item.nil? && !@invoice_item.invoice.nil?-%>
  <div class="right">
    <strong><%=h @invoice_item.invoice.job.name %></strong>
    <br />
    <strong>Invoice number:</strong>
    <%=h @invoice_item.invoice.invoice_number %>
  </div>  


  <div class="left">
    <strong>Status:</strong>
    <%=h @invoice_item.invoice.current_status %>
    <br />
    <%- if( @invoice_item.invoice.status != "Open" ) -%>
    <strong>Due date:</strong>
    <%=h @invoice_item.invoice.due_date %>
    <%- end -%>
  </div>
  <%- end -%>

  <div class="img">
    <%= image_tag "Masonry_logo_small.jpg", :alt =>  "Masonry Logo" %>
  </div>

  <%= render :partial => "layouts/nav_bar", :locals => { :activelink => "Items" } %>

</div>

  <p style="color: green"><%= flash[:notice] %></p>

<div id="content">
<%= yield  %>
</div>

</body>
</html>
